In [ ]:
import numpy as np
import pandas as pd
import plotly.express as px

In [ ]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,StandardScaler
sc = StandardScaler()
le = LabelEncoder()
ohe = OneHotEncoder()

In [ ]:
df = pd.read_csv("train.csv")

In [ ]:
df.sample(5)

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
14703,14703,C,102.30,material_7,material_8,5,8,13,6,10,...,11.907,NaN,16.962,9.671,16.126,16.105,17.692,15.130,613.095,0
22565,22565,E,111.12,material_7,material_6,6,9,8,10,2,...,11.944,20.842,18.536,11.911,13.877,14.944,16.561,14.488,868.277,0
16772,16772,D,100.72,material_7,material_5,6,6,5,4,4,...,11.758,17.192,18.582,13.727,15.418,18.053,13.252,17.387,549.645,0
19742,19742,D,75.42,material_7,material_5,6,6,5,6,7,...,11.353,16.592,18.431,11.310,13.698,15.620,14.295,17.598,783.000,0
7549,7549,B,101.40,material_5,material_5,8,8,6,12,5,...,11.503,13.439,NaN,11.373,12.985,17.344,13.954,12.143,525.793,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26570 entries, 0 to 26569
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              26570 non-null  int64
 1   product_code    26570 non-null  object
 2   loading         26320 non-null  float64
 3   attribute_0     26570 non-null  object
 4   attribute_1     26570 non-null  object
 5   attribute_2     26570 non-null  int64
 6   attribute_3     26570 non-null  int64
 7   measurement_0   26570 non-null  int64
 8   measurement_1   26570 non-null  int64
 9   measurement_2   26570 non-null  int64
 10  measurement_3   26189 non-null  float64
 11  measurement_4   26032 non-null  float64
 12  measurement_5   25894 non-null  float64
 13  measurement_6   25774 non-null  float64
 14  measurement_7   25633 non-null  float64
 15  measurement_8   25522 non-null  float64
 16  measurement_9   25343 non-null  float64
 17  measurement_10  25270 non-null  float64
 18  measurement_11  25102 non-null  float64
 19  measurement_12  24969 non-null  float64
 20  measurement_13  24796 non-null  float64
 21  measurement_14  24696 non-null  float64
 22  measurement_15  24561 non-null  float64
 23  measurement_16  24460 non-null  float64
 24  measurement_17  24286 non-null  float64
 25  failure         26570 non-null  int64
dtypes: float64(16), int64(7), object(3)
memory usage: 5.3+ MB

In [ ]:
df.isnull().sum()

id                   0
product_code         0
loading            250
attribute_0          0
attribute_1          0
attribute_2          0
attribute_3          0
measurement_0        0
measurement_1        0
measurement_2        0
measurement_3      381
measurement_4      538
measurement_5      676
measurement_6      796
measurement_7      937
measurement_8     1048
measurement_9     1227
measurement_10    1300
measurement_11    1468
measurement_12    1601
measurement_13    1774
measurement_14    1874
measurement_15    2009
measurement_16    2110
measurement_17    2284
failure              0
dtype: int64

In [ ]:
y = df.iloc[:,-1]
train = df.iloc[:,:-1]
train = train.iloc[:,1:]

In [ ]:
train

,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,...,measurement_8,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17
0,A,80.10,material_7,material_8,9,5,7,8,4,18.040,...,20.155,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100
1,A,84.89,material_7,material_8,9,5,14,3,3,18.213,...,17.889,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057
2,A,82.43,material_7,material_8,9,5,12,1,5,18.057,...,18.288,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376
3,A,101.07,material_7,material_8,9,5,13,2,6,17.295,...,19.060,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282
4,A,188.06,material_7,material_8,9,5,9,2,8,19.346,...,18.093,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26565,E,158.95,material_7,material_6,6,9,6,16,4,16.301,...,19.354,NaN,12.177,17.942,10.112,15.795,18.572,16.144,NaN,729.131
26566,E,146.02,material_7,material_6,6,9,10,12,8,17.543,...,19.563,11.242,14.179,20.564,10.234,14.450,14.322,13.146,16.471,853.924
26567,E,115.62,material_7,material_6,6,9,1,10,1,15.670,...,19.279,11.407,16.437,17.476,8.668,15.069,16.599,15.590,14.065,750.364
26568,E,106.38,material_7,material_6,6,9,2,9,4,18.059,...,19.358,11.392,17.064,17.814,14.928,16.273,15.485,13.624,12.865,730.156
26569,E,131.20,material_7,material_6,6,9,6,19,1,18.034,...,18.731,10.611,15.603,19.703,11.006,15.875,13.366,16.527,17.890,602.354

In [ ]:
df1 = pd.read_csv("test.csv")

In [ ]:
df1.sample(5)

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_8,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17
16465,43035,I,90.26,material_7,material_5,9,5,6,12,7,...,18.478,12.052,16.521,21.675,10.405,14.942,18.449,NaN,16.250,711.380
1774,28344,F,111.80,material_5,material_6,6,4,5,12,12,...,19.408,10.342,NaN,17.711,11.746,17.231,16.841,13.660,14.819,859.845
11614,38184,H,112.58,material_7,material_7,7,9,15,13,12,...,19.999,12.793,15.295,20.935,12.994,15.408,16.936,15.672,16.587,NaN
7584,34154,G,140.73,material_5,material_6,9,7,10,5,4,...,NaN,12.409,NaN,20.725,13.540,15.458,15.618,17.172,17.582,549.736
5960,32530,G,144.84,material_5,material_6,9,7,9,4,8,...,18.646,12.229,18.563,17.862,11.417,16.425,17.054,14.909,15.044,699.729

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20775 entries, 0 to 20774
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              20775 non-null  int64
 1   product_code    20775 non-null  object
 2   loading         20552 non-null  float64
 3   attribute_0     20775 non-null  object
 4   attribute_1     20775 non-null  object
 5   attribute_2     20775 non-null  int64
 6   attribute_3     20775 non-null  int64
 7   measurement_0   20775 non-null  int64
 8   measurement_1   20775 non-null  int64
 9   measurement_2   20775 non-null  int64
 10  measurement_3   20446 non-null  float64
 11  measurement_4   20366 non-null  float64
 12  measurement_5   20267 non-null  float64
 13  measurement_6   20151 non-null  float64
 14  measurement_7   20055 non-null  float64
 15  measurement_8   19929 non-null  float64
 16  measurement_9   19871 non-null  float64
 17  measurement_10  19708 non-null  float64
 18  measurement_11  19639 non-null  float64
 19  measurement_12  19535 non-null  float64
 20  measurement_13  19472 non-null  float64
 21  measurement_14  19335 non-null  float64
 22  measurement_15  19233 non-null  float64
 23  measurement_16  19097 non-null  float64
 24  measurement_17  19035 non-null  float64
dtypes: float64(16), int64(6), object(3)
memory usage: 4.0+ MB

In [ ]:
df1.isnull().sum()

id                   0
product_code         0
loading            223
attribute_0          0
attribute_1          0
attribute_2          0
attribute_3          0
measurement_0        0
measurement_1        0
measurement_2        0
measurement_3      329
measurement_4      409
measurement_5      508
measurement_6      624
measurement_7      720
measurement_8      846
measurement_9      904
measurement_10    1067
measurement_11    1136
measurement_12    1240
measurement_13    1303
measurement_14    1440
measurement_15    1542
measurement_16    1678
measurement_17    1740
dtype: int64

In [ ]:
test = df1.iloc[:,1:]
test

,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,...,measurement_8,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17
0,F,119.57,material_5,material_6,6,4,6,9,6,19.305,...,18.654,10.802,15.909,18.070,13.772,13.659,16.825,13.742,17.710,634.612
1,F,113.51,material_5,material_6,6,4,11,8,0,17.883,...,19.368,12.032,13.998,NaN,12.473,17.468,16.708,14.776,14.102,537.037
2,F,112.16,material_5,material_6,6,4,8,12,4,18.475,...,17.774,11.743,17.046,18.086,10.907,13.363,15.737,17.065,16.021,658.995
3,F,112.72,material_5,material_6,6,4,8,11,10,16.518,...,18.948,11.790,18.165,16.163,10.933,15.501,15.667,12.620,16.111,594.301
4,F,208.00,material_5,material_6,6,4,14,16,8,17.808,...,19.141,12.370,14.578,17.849,11.941,16.070,16.183,13.324,17.150,801.044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20770,I,144.74,material_7,material_5,9,5,0,4,9,18.465,...,18.573,11.691,NaN,19.771,11.562,17.246,15.131,15.209,NaN,696.466
20771,I,74.53,material_7,material_5,9,5,4,8,7,18.900,...,17.917,10.980,16.027,15.694,13.564,15.494,15.296,13.812,16.501,613.249
20772,I,67.73,material_7,material_5,9,5,10,11,2,18.656,...,19.630,10.436,16.137,20.612,11.134,16.519,15.525,14.175,17.728,783.349
20773,I,126.15,material_7,material_5,9,5,8,16,11,16.536,...,19.575,12.672,15.422,19.496,9.319,15.817,17.403,16.437,15.179,745.210
20774,I,85.97,material_7,material_5,9,5,0,11,11,18.373,...,19.253,9.977,17.270,17.924,13.726,14.605,17.460,16.261,16.482,647.980

In [ ]:
train.sample()

,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,...,measurement_8,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17
11699,C,140.7,material_7,material_8,5,8,15,10,5,16.928,...,NaN,11.003,15.681,20.139,14.061,14.914,16.818,16.169,17.049,548.869

In [ ]:
test.sample()

,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,...,measurement_8,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17
17813,I,133.61,material_7,material_5,9,5,9,8,3,16.855,...,NaN,12.81,16.669,20.288,13.87,16.181,13.933,14.843,18.262,NaN

In [ ]:
train.shape,test.shape,

((26570, 24), (20775, 24))

In [ ]:
final = pd.concat([train,test])
final

,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,...,measurement_8,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17
0,A,80.10,material_7,material_8,9,5,7,8,4,18.040,...,20.155,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100
1,A,84.89,material_7,material_8,9,5,14,3,3,18.213,...,17.889,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057
2,A,82.43,material_7,material_8,9,5,12,1,5,18.057,...,18.288,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376
3,A,101.07,material_7,material_8,9,5,13,2,6,17.295,...,19.060,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282
4,A,188.06,material_7,material_8,9,5,9,2,8,19.346,...,18.093,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20770,I,144.74,material_7,material_5,9,5,0,4,9,18.465,...,18.573,11.691,NaN,19.771,11.562,17.246,15.131,15.209,NaN,696.466
20771,I,74.53,material_7,material_5,9,5,4,8,7,18.900,...,17.917,10.980,16.027,15.694,13.564,15.494,15.296,13.812,16.501,613.249
20772,I,67.73,material_7,material_5,9,5,10,11,2,18.656,...,19.630,10.436,16.137,20.612,11.134,16.519,15.525,14.175,17.728,783.349
20773,I,126.15,material_7,material_5,9,5,8,16,11,16.536,...,19.575,12.672,15.422,19.496,9.319,15.817,17.403,16.437,15.179,745.210
20774,I,85.97,material_7,material_5,9,5,0,11,11,18.373,...,19.253,9.977,17.270,17.924,13.726,14.605,17.460,16.261,16.482,647.980

In [ ]:
from sklearn.impute import SimpleImputer, KNNImputer
impute = SimpleImputer(strategy = "mean")
knnimputer = KNNImputer(n_neighbors=10)

In [ ]:
f2 = final.drop(train.columns[[0,2,3]],axis=1)

In [ ]:
f2 = impute.fit_transform(f2)
f2 = pd.DataFrame(f2)

In [ ]:
f2 = sc.fit_transform(f2)
f2 = pd.DataFrame(f2)

In [ ]:
f3 = pd.DataFrame(ohe.fit_transform(final.iloc[:,[0,2,3]]).toarray())

In [ ]:
cleaned = pd.concat([f2,f3],axis=1)
cleaned

,0,1,2,3,4,5,6,7,8,9,...,5,6,7,8,9,10,11,12,13,14
0,-1.225108,1.223359,-1.01701,-0.103287,-0.129328,-0.619559,0.249097,7.954229e-01,-1.399404,1.810387,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,-1.101935,1.223359,-1.01701,1.568709,-1.299094,-0.901217,0.423127,-1.917191e-01,0.591057,0.386729,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,-1.165193,1.223359,-1.01701,1.090996,-1.767000,-0.337901,0.266198,-7.867219e-02,-0.398613,0.739845,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,-0.685871,1.223359,-1.01701,1.329853,-1.533047,-0.056242,-0.500339,-5.470095e-01,1.459420,0.840590,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,1.551050,1.223359,-1.01701,0.374426,-1.533047,0.507074,1.562872,1.231461e+00,-0.143867,-1.798113,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47340,0.437090,1.223359,-1.01701,-1.775283,-1.065140,0.788733,0.676627,8.479090e-01,1.024733,-0.431442,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
47341,-1.368339,1.223359,-1.01701,-0.819857,-0.129328,0.225416,1.114217,-1.851087e+00,1.168281,0.000000,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
47342,-1.543199,1.223359,-1.01701,0.613283,0.572532,-1.182876,0.868764,1.792962e-15,1.121779,0.404028,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
47343,-0.040946,1.223359,-1.01701,0.135570,1.742298,1.352049,-1.263858,-5.086543e-01,1.022711,-0.267605,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
47344,-1.074163,1.223359,-1.01701,-1.775283,0.572532,1.352049,0.584079,-5.248039e-01,-0.103431,0.908770,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0

In [ ]:
train = cleaned.iloc[:26570,:]
test = cleaned.iloc[26570:,:]

In [ ]:
y

0        0
1        0
2        0
3        0
4        0
        ..
26565    0
26566    0
26567    0
26568    0
26569    0
Name: failure, Length: 26570, dtype: int64

In [ ]:
def classifier(train,y,test):
  from sklearn.svm import SVC
  model = SVC(kernel="linear",random_state=0)
  model.fit(train,y)
  pred_1 = model.predict(test)
  
  from sklearn.linear_model import LogisticRegression
  model2 = LogisticRegression(random_state=0)
  model2.fit(train,y)
  pred_2 = model2.predict(test)

  from sklearn.tree import DecisionTreeClassifier
  model3 = DecisionTreeClassifier(criterion = "entropy",random_state=0)
  model3.fit(train,y)
  pred_3 = model3.predict(test)
  
  from sklearn.neighbors import KNeighborsClassifier
  model4 = KNeighborsClassifier(n_neighbors=5,metric="minkowski",p=2)
  model4.fit(train,y)
  pred_4 = model4.predict(test)
  
  test2 = pd.read_csv("test.csv")
  id = test2.iloc[:,0].values

  sub = pd.DataFrame({"id":id,"failure":pred_1})
  sub.to_csv("Submit1.csv",index=False)
  
  sub = pd.DataFrame({"id":id,"failure":pred_2})
  sub.to_csv("Submit2.csv",index=False)

  sub = pd.DataFrame({"id":id,"failure":pred_3})
  sub.to_csv("Submit3.csv",index=False)
  
  sub = pd.DataFrame({"id":id,"failure":pred_4})
  sub.to_csv("Submit4.csv",index=False)

In [ ]:
classifier(train,y,test)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras.optimizers import Adam
model = Sequential()
model.add(Dense(512, kernel_initializer='normal',activation='relu',input_shape=(36,)))
model.add(Dense(512, kernel_initializer='normal',activation='relu'))
model.add(Dense(256, kernel_initializer='normal',activation='relu'))
model.add(Dense(256, kernel_initializer='normal',activation='relu'))
model.add(Dense(128, kernel_initializer='normal',activation='relu'))
model.add(Dense(128, kernel_initializer='normal',activation='relu'))
model.add(Dense(1,activation = "sigmoid"))

model.summary()
model.compile(loss='binary_crossentropy', optimizer=Adam(lr=0.0001), metrics=["accuracy"])

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 512)               18944

 dense_1 (Dense)             (None, 512)               262656

 dense_2 (Dense)             (None, 256)               131328

 dense_3 (Dense)             (None, 256)               65792

 dense_4 (Dense)             (None, 128)               32896

 dense_5 (Dense)             (None, 128)               16512

 dense_6 (Dense)             (None, 1)                 129

=================================================================
Total params: 528,257
Trainable params: 528,257
Non-trainable params: 0
_________________________________________________________________

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/adam.py:105: UserWarning:

The `lr` argument is deprecated, use `learning_rate` instead.

In [ ]:
model.fit(train,y,epochs=50)

Epoch 1/50
831/831 [==============================] - 13s 14ms/step - loss: 0.5186 - accuracy: 0.7874
Epoch 2/50
831/831 [==============================] - 11s 13ms/step - loss: 0.5093 - accuracy: 0.7874
Epoch 3/50
831/831 [==============================] - 10s 12ms/step - loss: 0.5067 - accuracy: 0.7874
Epoch 4/50
831/831 [==============================] - 7s 9ms/step - loss: 0.5042 - accuracy: 0.7874
Epoch 5/50
831/831 [==============================] - 7s 9ms/step - loss: 0.4992 - accuracy: 0.7874
Epoch 6/50
831/831 [==============================] - 7s 9ms/step - loss: 0.4922 - accuracy: 0.7882
Epoch 7/50
831/831 [==============================] - 8s 9ms/step - loss: 0.4798 - accuracy: 0.7918
Epoch 8/50
831/831 [==============================] - 8s 9ms/step - loss: 0.4596 - accuracy: 0.7992
Epoch 9/50
831/831 [==============================] - 8s 10ms/step - loss: 0.4294 - accuracy: 0.8125
Epoch 10/50
831/831 [==============================] - 8s 10ms/step - loss: 0.3943 - accuracy: 0.8304
Epoch 11/50
831/831 [==============================] - 8s 10ms/step - loss: 0.3500 - accuracy: 0.8533
Epoch 12/50
831/831 [==============================] - 9s 11ms/step - loss: 0.3086 - accuracy: 0.8724
Epoch 13/50
831/831 [==============================] - 8s 10ms/step - loss: 0.2581 - accuracy: 0.8958
Epoch 14/50
831/831 [==============================] - 9s 11ms/step - loss: 0.2143 - accuracy: 0.9167
Epoch 15/50
831/831 [==============================] - 9s 11ms/step - loss: 0.1744 - accuracy: 0.9318
Epoch 16/50
831/831 [==============================] - 9s 11ms/step - loss: 0.1394 - accuracy: 0.9473
Epoch 17/50
831/831 [==============================] - 8s 10ms/step - loss: 0.1140 - accuracy: 0.9581
Epoch 18/50
831/831 [==============================] - 8s 10ms/step - loss: 0.1007 - accuracy: 0.9620
Epoch 19/50
831/831 [==============================] - 8s 9ms/step - loss: 0.0819 - accuracy: 0.9697
Epoch 20/50
831/831 [==============================] - 8s 9ms/step - loss: 0.0782 - accuracy: 0.9709
Epoch 21/50
831/831 [==============================] - 8s 10ms/step - loss: 0.0700 - accuracy: 0.9743
Epoch 22/50
831/831 [==============================] - 8s 9ms/step - loss: 0.0649 - accuracy: 0.9765
Epoch 23/50
831/831 [==============================] - 8s 10ms/step - loss: 0.0592 - accuracy: 0.9784
Epoch 24/50
831/831 [==============================] - 8s 10ms/step - loss: 0.0510 - accuracy: 0.9820
Epoch 25/50
831/831 [==============================] - 8s 10ms/step - loss: 0.0557 - accuracy: 0.9790
Epoch 26/50
831/831 [==============================] - 9s 11ms/step - loss: 0.0499 - accuracy: 0.9816
Epoch 27/50
831/831 [==============================] - 9s 10ms/step - loss: 0.0453 - accuracy: 0.9834
Epoch 28/50
831/831 [==============================] - 8s 10ms/step - loss: 0.0560 - accuracy: 0.9802
Epoch 29/50
831/831 [==============================] - 8s 10ms/step - loss: 0.0420 - accuracy: 0.9848
Epoch 30/50
831/831 [==============================] - 9s 11ms/step - loss: 0.0492 - accuracy: 0.9818
Epoch 31/50
831/831 [==============================] - 8s 10ms/step - loss: 0.0350 - accuracy: 0.9886
Epoch 32/50
831/831 [==============================] - 8s 10ms/step - loss: 0.0458 - accuracy: 0.9832
Epoch 33/50
831/831 [==============================] - 8s 10ms/step - loss: 0.0314 - accuracy: 0.9894
Epoch 34/50
831/831 [==============================] - 8s 10ms/step - loss: 0.0483 - accuracy: 0.9824
Epoch 35/50
831/831 [==============================] - 8s 10ms/step - loss: 0.0402 - accuracy: 0.9856
Epoch 36/50
831/831 [==============================] - 8s 10ms/step - loss: 0.0344 - accuracy: 0.9878
Epoch 37/50
831/831 [==============================] - 8s 10ms/step - loss: 0.0378 - accuracy: 0.9852
Epoch 38/50
831/831 [==============================] - 8s 10ms/step - loss: 0.0368 - accuracy: 0.9871
Epoch 39/50
831/831 [==============================] - 8s 10ms/step - loss: 0.0294 - accuracy: 0.9892
Epoch 40/50
831/831 [==============================] - 9s 11ms/step - loss: 0.0455 - accuracy: 0.9843
Epoch 41/50
831/831 [==============================] - 8s 10ms/step - loss: 0.0310 - accuracy: 0.9889
Epoch 42/50
831/831 [==============================] - 8s 10ms/step - loss: 0.0368 - accuracy: 0.9868
Epoch 43/50
831/831 [==============================] - 8s 10ms/step - loss: 0.0276 - accuracy: 0.9900
Epoch 44/50
831/831 [==============================] - 8s 10ms/step - loss: 0.0256 - accuracy: 0.9913
Epoch 45/50
831/831 [==============================] - 8s 10ms/step - loss: 0.0340 - accuracy: 0.9884
Epoch 46/50
831/831 [==============================] - 8s 10ms/step - loss: 0.0333 - accuracy: 0.9875
Epoch 47/50
831/831 [==============================] - 8s 10ms/step - loss: 0.0294 - accuracy: 0.9892
Epoch 48/50
831/831 [==============================] - 8s 9ms/step - loss: 0.0211 - accuracy: 0.9925
Epoch 49/50
831/831 [==============================] - 8s 9ms/step - loss: 0.0329 - accuracy: 0.9883
Epoch 50/50
831/831 [==============================] - 8s 9ms/step - loss: 0.0266 - accuracy: 0.9908

In [ ]:
pre = model.predict(test)

In [ ]:
li = (pre > 0.5).astype(np.float32)

In [ ]:
li = [a[0] for a in li]
li

[0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 ...]

In [ ]:
test2 = pd.read_csv("test.csv")
id = test2.iloc[:,0].values

sub = pd.DataFrame({"id":id,"failure":li})
sub.to_csv("Submit5.csv",index=False)